* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* NAVBAR */

.navbar {
    position: fixed;
    width: 100%;
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    z-index: 1000;
}

.logo {
    font-size: 20px;
    font-weight: 600;
}

#menu-toggle {
    display: none;
}

.menu-btn {
    display: none;
    font-size: 28px;
    cursor: pointer;
}


.close-icon {
    display: none;
}



.nav_links {
    display: flex;
    gap: 30px;
}

.nav_links a {
    color: #000;
    font-size: 14px;
}

/* HERO */

.hero {
    height: 100vh;
    background: url("images/hero.png") center/cover no-repeat;
    display: flex;
    align-items: center;
    padding-left: 80px;
    color: white;
    position: relative;
}

/*.hero-content{
    max-width:600px;
}*/

.hero_content h1 {
    font-size: 60px;
    font-weight: 600;
    margin-bottom: 20px;
}

.hero_content p {
    margin-bottom: 30px;
    font-size: 18px;
}

.btn {
    display: inline-block;
    background: white;
    color: black;
    padding: 15px 30px;
}

.btn:hover {
    opacity: 0.60;
}

.social_icons {
    margin-top: 40px;
    margin-left: 75px;
    position: absolute;
    left: 50px;
    bottom: 30px;
}

.social_icons i {
    font-size: 18px;
    cursor: pointer;
    transition: .3s;
}

.social_icons i:hover {
    opacity: .7;
}

/*About me*/
.about {
    padding: 100px 10%;
    text-align: center;
}

.about h2 {
    margin-bottom: 15px;
}

.section_subtitle {
    color: #666;
    margin-bottom: 70px;
}

.about_grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.about_card {
    padding: 30px;
}

.about_card i {
    font-size: 55px;
    margin-bottom: 25px;
    color: #111;
}

.about_card h3 {
    margin-bottom: 15px;
}

/* Design */
.design_section {
    background: #f1f1f1;
    padding: 100px 80px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.design_content {
    flex: 1;
}

.design_content h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

.design_content p {
    margin-bottom: 25px;
    line-height: 1.8;
}

.work_btn {
    background: #000;
    color: #fff;
    padding: 12px 25px;
    display: inline-block;
}

.work_btn:hover {
    background-color: white;
    color: black;
}

.design_image {
    flex: 1;
}

.design_image img {
    width: 100%;
    border-radius: 10px;
}

/* team */
.team_section {
    padding: 100px 80px;
    text-align: center;
}

.subtitle {
    color: #666;
    margin-top: 10px;
}

.team_grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    margin-top: 60px;
}

.team_card {
    box-shadow: 0 2px 10px rgba(0, 0, 0, .1);
    background: #fff;
}

.team_card img {
    width: 100%;
    display: block;
}

.team_info {
    padding: 20px;
    text-align: left;
}

.team_info span {
    color: #999;
    display: block;
    margin: 10px 0;
}

.team_info button {
    width: 100%;
    border: none;
    background: #eee;
    padding: 12px;
    cursor: pointer;
}

.team_info button:hover {
    color: #000 !important;
    background-color: #f1f1f1 !important;
}

/* statice */
.stats_section {

    background: #616161;

    color: white;

    padding: 70px 80px;

    display: grid;
    grid-template-columns: repeat(4, 1fr);

    text-align: center;
}

.stat h2 {
    font-size: 42px;
    font-weight: 500;
}

.stat p {
    margin-top: 10px;
}

/* work */
.work {
    padding: 100px 10%;
    text-align: center;
}

.work_grid {

    display: grid;

    grid-template-columns:
        repeat(4, 1fr);

    gap: 15px;

    margin-top: 60px;
}

.work_grid img {

    width: 100%;
    height: 220px;

    object-fit: cover;

    cursor: pointer;

    transition: .4s;
}

.work_grid img:hover {

    opacity: .8;
    transform: scale(1.03);
}

/* skill */
.skills {

    background: #f5f5f5;

    padding: 100px 10%;

    display: grid;

    grid-template-columns:
        1fr 1fr;

    gap: 60px;
}

.skill {
    margin-bottom: 25px;
}

.skill_title {
    margin-bottom: 10px;
}

.bar {

    width: 100%;

    height: 28px;

    background: #d9d9d9;
}

.progress {

    height: 100%;

    background: #666;

    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}

.photo {
    width: 90%;
}

.web {
    width: 85%;
}

.photoshop {
    width: 75%;
}

/* price */
.sub_title_price {
    color: white;
}

.pricing {

    background: #616161;

    color: white;

    padding: 100px 10%;

    text-align: center;
}

.pricing_grid {

    margin-top: 60px;

    display: grid;

    grid-template-columns:
        repeat(3, 1fr);

    gap: 30px;
}

.price_card {

    background: white;

    color: black;

    padding-bottom: 30px;
}

.price_header {

    background: black;

    color: white;

    padding: 30px;
    font-size: 28px;
}

.pro {
    background: #f44336;
}

.price_card ul {
    list-style: none;
}

.price_card ul li {

    padding: 20px;
    border-bottom: 1px solid #ddd;
}

.price {

    font-size: 40px;
    padding: 30px;
}

.price span {

    display: block;

    font-size: 14px;

    color: gray;
}

.price_card button {

    background: black;
    color: white;

    border: none;

    padding: 12px 30px;

    cursor: pointer;
}

.active {
    transform: scale(1.08);
    margin-top: -25px;
    box-shadow: 0 20px 50px rgba(0, 0, 0, .25);
    position: relative;
    z-index: 2;
    border: 3px solid #f44336;
}

/* contact */
.contact_section {
    padding: 100px 80px;
    background: #f5f5f5;
}

.section_heading {
    text-align: center;
    margin-bottom: 60px;
}

.section_heading h2 {
    font-size: 36px;
    margin-bottom: 10px;
}

.section_heading p {
    color: #666;
}

.contact_container {
    margin: auto;
}

.contact_info {
    margin-bottom: 40px;
}

.contact_item {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
    font-size: 18px;
}

.contact_item i {
    font-size: 24px;
    width: 35px;
}

.contact_form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact_form input,
.contact_form textarea {

    width: 100%;

    padding: 15px;

    border: 1px solid #ddd;

    font-size: 16px;

    outline: none;
}

.contact_form button {

    align-self: flex-start;

    background: #000;

    color: #fff;

    border: none;

    padding: 15px 30px;

    cursor: pointer;

    transition: .3s;
}

.contact_form button:hover {
    background: #333;
}

.map_section {
    padding: 0 80px 80px;
    background: #f5f5f5;
}

.map_section img {
    width: 100%;
    display: block;
    border-radius: 10px;
}

/* footer */
.footer {

    background: #000;

    color: white;

    text-align: center;

    padding: 70px 20px;
}

.top_btn {

    display: inline-block;

    background: white;

    color: black;

    padding: 12px 25px;

    margin-bottom: 30px;
}

.footer_social {

    margin-bottom: 25px;
}

.footer_social i {

    font-size: 24px;

    margin: 0 10px;

    cursor: pointer;

    transition: .3s;
}

.footer_social i:hover {
    opacity: .7;
}

.footer p {
    color: #ccc;
}

/* Tablet */

@media(max-width:992px) {

    .navbar {
        padding: 20px 40px;
    }

    .hero_content h1 {
        font-size: 48px;
    }

    .about_grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .team_grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .work_grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .pricing_grid {
        grid-template-columns: 1fr;
    }

    .skills {
        grid-template-columns: 1fr;
    }

    .design_section {
        flex-direction: column;
    }

    .stats-section {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }
}

/* mobile */

@media(max-width:992px) {

    .navbar {
        position: relative;
        padding: 15px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }


    .menu-btn {
        display: block;
    }

    .nav_links {
        display: none;
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        background: #fff;
        flex-direction: column;
        text-align: center;
        padding: 20px 0;
        box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
    }

    .nav_links li {
        margin: 15px 0;
    }

    #menu-toggle {
      display: none;
    }


    .close-icon {
        display: none;
    }


    #menu-toggle:checked~.nav_links {
        display: flex;
    }

    #menu-toggle:checked+.menu-btn .open-icon {
        display: none;
    }

    #menu-toggle:checked+.menu-btn .close-icon {
        display: inline;
    }
}



html {
    scroll-behavior: smooth;
}

button,
.btn,
.work_btn,
.top_btn {
    transition: .3s;
}

button:hover,
.btn:hover,
.work_btn:hover,
.top_btn:hover {
    opacity: .85;
}